# Copyright 2018-2024 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that contributes the YourKit Agent and configures it to connect to the service"
  homepage = "https://github.com/paketo-buildpacks/yourkit"
  id = "paketo-buildpacks/yourkit"
  keywords = ["yourkit", "agent", "profiler"]
  name = "Paketo Buildpack for YourKit"
  sbom-formats = ["application/vnd.syft+json", "application/vnd.cyclonedx+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/yourkit/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "yourkit.png", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/amd64/bin/helper", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main", "linux/arm64/bin/helper", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    default = "10001"
    description = "what port the YourKit agent will listen on"
    launch = true
    name = "$BPL_YOURKIT_PORT"

  [[metadata.configurations]]
    description = "the name of the YourKit session"
    launch = true
    name = "BPL_YOURKIT_SESSION_NAME"

  [[metadata.configurations]]
    build = true
    description = "whether to contribute YourKit support"
    name = "BP_YOURKIT_ENABLED"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:yourkit:java_profiler:2025.9.175:*:*:*:*:*:*:*"]
    id = "yourkit-java"
    name = "YourKit Java Agent"
    purl = "pkg:generic/yourkit-java-profiler@2025.9.175?arch=amd64"
    sha256 = "3c1e7600e76067cfc446666101db515a9a247d69333b7cba5dfb05cf40e5e1d9"
    stacks = ["*"]
    uri = "https://download.yourkit.com/yjp/2025.9/YourKit-JavaProfiler-2025.9-b175-x64.zip"
    version = "2025.9.175"

    [[metadata.dependencies.licenses]]
      uri = "https://www.yourkit.com/purchase/eula.pdf"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:yourkit:java_profiler:2025.9.175:*:*:*:*:*:*:*"]
    id = "yourkit-java"
    name = "YourKit Java Agent"
    purl = "pkg:generic/yourkit-java-profiler@2025.9.175?arch=arm64"
    sha256 = "207223848b5bdbce77769b095e2e8bcd1eed9e583eeac233d1f3fd755a46639e"
    stacks = ["*"]
    uri = "https://download.yourkit.com/yjp/2025.9/YourKit-JavaProfiler-2025.9-b175-arm64.zip"
    version = "2025.9.175"

    [[metadata.dependencies.licenses]]
      uri = "https://www.yourkit.com/purchase/eula.pdf"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
